.obj{
    padding-top:60px;
}

/* straight up copy pasted from menuresidentl; need to check if all good */

.card-hover {
    transition: transform 0.3s ease-in-out;
    width:80%;
    padding:20px;
  }
  
  .card-hover:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .card-hover .card-body {
    transition: background-color 0.3s ease-in-out;
  }
  
  .card-hover:hover .card-body {
    background-color: #f8f9fa; 
  }