.left-menu {
    background-color: #f0f0f0; 
    padding: 20px;
  }
  
  .menu-items .btn {
    display: block;
    margin-bottom: 10px; 
  }
  
  .main-content {
    padding: 20px;
  }
  
  .right-sidebar {
    background-color: #f0f0f0; 
    padding: 20px;
  }

  .card-img-top-1 { width: 100%; height: auto; }
  
  .card-img-top-1 { 
    width: 100%; 
    height: 15vw; 
    /* object-fit: cover; */
  }

  .card-img-top-cover { 
    width: 100%; 
    height: 15vw; 
    object-fit: cover;
  }

  .profile-image {
    object-fit: cover; /* Cover the excess part of the image */
    width: 4em; /* Width of the circle */
    height: 4em; /* Height of the circle, equal to width for a perfect circle */
}

  