.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.overview-section {
  background-color: #99CBE2; 
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.overview-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.personal-info {
  background-color: #fff; 
  border: 1px solid #dee2e6; 
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
}

.info-item {
  margin-bottom: 10px;
}

.addspace {
  margin-bottom: 20px;
}


.objective-card {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
}

.objective-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.objective-description {
  font-size: 16px;
}


.profile-section {
  background-color: #fff;
  border: 1px solid #99CBE2;
  border-radius: 4px;
  padding: 15px;
  text-align: center;
}

.profile-image {
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 20px;
  font-weight: bold;
}

.profile-button-group {
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: 10px;
  font-size: 14px;
  padding: 10px 20px;
}


.notes-section {
  background-color: #99CBE2;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  padding: 15px;
}

.notes-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.note-item {
  border: 1px solid #dee2e6;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
}

.note-info {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.note-content {
  font-size: 14px;
}


.space {
  height: 10px; 
}


@media (max-width: 991px) {
  .row {
    flex-direction: column;
  }

  .col-md-8, .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
