.header {
    display: flex;
    width: 100%;
    gap: 20px;
    font-size: 26px;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #99CBE2;
    align-items: center;
  }

  @media (min-width: 768px) {
    .header {
      padding: 20px 67px 40px 67px;
    }
}

  .logo {
    aspect-ratio: 9.09;
    object-fit: auto;
    object-position: center;
    max-width: 330px;
    height: auto;
  }

  .navigation {
    align-self: auto;
    display: flex;
    margin-top: 12px;
    gap: 10px;
  }

  @media (min-width: 768px) {
    .header, .navigation {
      gap: 20px;
    }
  }

  .nav-link {
    font-family: Inter, sans-serif;
  }